/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{
    height: 100%;
}
body {
    line-height: 1;
    height: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html{
    font-family: 'Roboto', sans-serif;
}


.main-container{
    width: 390px;
    margin: 0 auto;
    padding-top: 23px;
    height: calc(100% - 52px);
}

header{
    padding: 0 19px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

header .services{
    width: 95px     ;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.content{
    width: 333px;
    margin: 0 auto;
}

.title{
    margin-top: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #0038FF;
    -webkit-text-stroke: .5px black;
}
.phrase{
    margin-top: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.phrase2{
    margin-top: 44px;
    margin-bottom: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #313131;
}

.blue{
    color: #0038FF;
}

.card{
    padding: 19px 0 21px;
    width: 333px;
    display: flex;
    background: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    box-shadow: 0px 1px 21px rgba(0, 56, 255, 0.09);
}

.card .text{
    width: 200px;
    margin-right: 10px;
}

.card .pink-circle{
    display: flex;
    align-items: center;
    background-image: url(../svg/Group356.svg);
    width: 21px;
    height: 38px;
    background-position-x: -4px;
    
}

.card h3{
    font-weight: 700;
}

.card .description{
    width: 199px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 4px;
}

footer{
    width: 333px;
    margin: 24px auto;
}

footer .folow-account{
    font-size: 12px;
    line-height: 14px;
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    color: #0038FF;
}

.quote-button{
    justify-self: center;
    position: sticky;
    margin: 0 auto;
    bottom: 0;
    width: 222px;
    height: 46px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background: #0038FF;
    border-radius: 8px 8px 0 0;
    border: 1px solid #000000;
    text-align: center;
    padding: 14px;
    box-sizing: border-box;
}